.app {
  width: 600px;
  background-color: #edeef2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-bar-max {
  height: 10px;
  background-color: black;
  border-radius: 5px;
  margin-bottom: 20px;
}

.progress-bar{
  height: 10px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 20px;
}

.popup-menu {
  position: absolute;
  z-index: 100;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 4px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin-top: 100px;
  margin-right: 35px;
  color: black;
}

.popup-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.popup-menu ul li {
  padding: 5px;
  cursor: pointer;
}

.popup-menu ul li:hover {
  background-color: #f5f5f5;
}

.box {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  border-radius: 15px;
  width: 450px;
  display: flex;
  position: relative;
}

.progress-box {
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  background-color: lightcoral;
  border-radius: 15px;
  width: 450px;
  display: grid;
}

.dropdown {
  position: absolute;
  right: 0;
  display: inline-block;
  font-family: sans-serif;
  margin-top: 15px;
}

.dropdown-toggle {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
}

.dropdown-toggle span {
  margin-left: 5px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0;
  margin-top: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

.dropdown-menu li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
  text-align: left;
}

.dropdown-menu li:hover {
  background-color: blueviolet;
  color: white;
}


.task-list {
  list-style-type: none;
  padding: 0;
}

.task-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.task-list input[type="checkbox"] {
  margin-right: 10px;
}

.completed {
  text-decoration: line-through;
  color: #888;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
}